/* boatman by taoyanran*/
.boat-con{
	padding-bottom:44px;
}
.boat-a{
	float:left;
	margin-left:11px;
	margin-top:14px;
}
.boat-b{
	float:left;
	width:656px;
	margin-left:21px;
	margin-top:5px;
}
.boat-b div{
	padding-bottom:17px;
	padding-top:10px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
}
.boat-b span{
	display:block;
	width:156px;
	line-height:25px;
	font-size:14px;
	color:#fff;
	text-indent:13px;
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.boat-con-b2 span,.boat-con-b3 span{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}
.boat-b p{
	font-size:14px;
	color:#333;
	margin-left:7px;
	padding-top:12px;
}