/* company by taoyanran */
.comp-con h1{
	width:963px;
	font-size:14px;
	line-height:22px;
	margin-top:15px;
	text-align:center;
	color:#333;	
}
.comp-con-zy strong{
	margin-left:48px;
	color:#333;
	font-size:14px;
	line-height:24px;
}
.comp-con-zy p{
	margin-left:20px;
	font-size:14px;
	color:#333;
	width:920px;
	text-indent:2em;
	margin-bottom:34px;
	line-height:24px;
}