/*  cont 联系我们*/
.cont {
	font-family: tahoma;
	color: #333333;
	text-align: center;
}
.cont h3 {
	font-size: 18px;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-top: 19px;
	margin-bottom: 17px;
}
.cont p span {
	font-size: 16px;
	font-family: "微软雅黑";
	margin-right: 24px;
}
.cont-point {
	width: 929px;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	margin: 14px auto 25px;
	background: url(../bg/point.gif) 0 0 repeat-x;
}
.cont-tab {
	width: 849px;
	height: 210px;
	font-size: 14px;
	margin: 0 auto; 
	border-collapse:collapse;
	border: 1px solid #318c5f;
	margin-bottom: 178px;
}
.cont-tab th {
	height: 33px;
	background-color: #318c5f;
	color: #fff;
}
.cont-tab th,.cont-tab td {
	width: 257px;
	border: 1px solid #318c5f;
}
.cont-tab .cont-last-th {
	width: 331px;
}
