/* cult 企业文化 by libin*/
.cult {
	font-size: 12px;
	margin: 27px 0 0 49px;
}
.cult img {
	width: 221px;
	height: 222px;
	padding: 17px 16px 17px 18px; 
	border: 1px solid #d3d2ce;
	background-color: #f7f7f5;
	vertical-align: top;
}
.cult .cult-t-r img {
	width: 524px;
	height: 526px;
}
.cult-t-l {
	width: 257px;
	height: 562px;
	float: left;
}
.cult-tl-first {
	margin-bottom: 45px;
}
.cult-t-r {
	padding: 0 1px 1px;
	background-color: #f7f7f5;
	float: left;
	margin-left: 44px;
	position: relative;
}
.cult-pbg {
	width: 523px;
	height: 70px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	background: url(../bg/cult-pbg.gif) 0 0 no-repeat;
	position: absolute;
	bottom: 18px;
	left: 20px;
}
.cult-pinfo {
	width: 480px;
	height: 38px;
	line-height: 14px;
	color: #fff;
	position: absolute;
	bottom: 33px;
	left: 47px;  
}
.cult-pinfo strong {
	width: 450px;
	margin-bottom: 12px;
	float: left;
}
.cult-pinfo em {
	margin-right: 37px;
	float: left;
}
.cult-b {
	float: left;
	margin-top:42px;
}
.cult-b img {
	float: left;
	margin-right: 45px;
}
.cult-gd {
	width: 859px;
	height: 20px;
	float: left;
	margin: 20px 1px 0 1px; 
	padding-bottom: 36px;
	background: url(../bg/cult-gdbg.gif) 0 0 no-repeat;
}