/* 物流仓储中心 libin*/
.good {
	padding-top: 18px;
	padding-bottom: 56px;
}
.good p {
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	margin: 0 0 34px 50px;
}
.good-pict {
	text-align: center;
	margin-bottom: 12px;
}
.good-picf {
	text-align: center;
}
.good-picf img {
	margin-right: 10px;
	margin-left: 10px;
}