/* 物流仓储中心 libin*/
.good {
	padding-top: 18px;
	padding-bottom: 56px;
}
.good p {
	width: 915px;
	font-size: 14px;
	color: #333333;
	text-indent: 2em;
	line-height: 20px;
	margin: 0 25px 34px 22px;
}
.good-pict {
	text-align: center;
	margin-bottom: 12px;
}
.good-pict1 {
	width: 336px;
	height: 145px;
}
.good-picf {
	text-align: center;
}
.good-picf1 {
	width: 271px;
	height: 186px;
}
.good-picf2 {
	width: 271px;
	height: 187px;
}
.good-picf img {
	margin-right: 20px;
	margin-left: 20px;
}