/* logistics by taoyanran*/
.logi-con div{
	width:935px;
	height:224px;
	margin-left:11px;
}
.logi-con img{
	float:left;
}
.logi-con span{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:25px;
	text-indent:12px;
	width:156px;
	margin-left:13px;
}
.logi-con p{
	float:left;
	width:646px;
	font-size:14px;
	margin-left:21px;
	margin-top:12px;
}
.logi-con-a1{
	margin-top:14px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
}
.logi-con-a1 span{
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.logi-con-a2{
	margin-top:17px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
	margin-bottom:30px;
}
.logi-con-a2 span{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}