/* 新闻中心正文页 by luda*/
.newsbody {
	width: 930px;
	font: 14px 微软雅黑,宋体,arial;
	padding-top: 12px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.newsbody h1 {
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
.newsbody-date {
	width: 930px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px dotted #b6b6b6; 
	padding-bottom: 8px;
}
.newsbody-date a {
	color: #000; 
	margin-right: 4px;
}
.newsbody-date span {
	margin-left: 
}
.newsbody-con {
	width: 930px;
	text-align: center;
}
.newsbody-con p {
	line-height: 24px;
	text-indent: 2em;
	text-align: left;
	margin: 11px 0;
}