/* propert by taoyanran */
.prop-con-br{
	width:920px;
	font-size:14px;
	color:#333;
	text-indent:2em;
	padding:18px 19px 22px 22px;
}
.prop-con dl{
	width:929px;
	margin-left:17px;
	background:url(../bg/propert-con-a1.gif) 0 0 repeat-x;
	height:auto !important;
	height:130px;
	min-height:130px;
}
.prop-con dl img{
	float:left;
	margin-top:8px;
}
.prop-con dl .prop-con-hd{
	float:left;
	width:156px;
	margin-left:12px;
	margin-top:8px;
	text-align:center;
	line-height:25px;
	font-size:14px;
}
.prop-con-hd a{
	color:#fff;
}
.prop-con-hd a:hover{
	color:#cd0200;
}
.prop-con-work{
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.prop-con-villa{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}
.prop-con-house{
	background:url(../bg/propert-con-bg.gif) 0 -50px no-repeat;
}
.prop-con-cate{
	background:url(../bg/propert-con-bg.gif) 0 -75px no-repeat;
}
.prop-con-flow{
	background:url(../bg/propert-con-bg.gif) 0 -100px no-repeat;
}
.prop-con dl dd{
	float:left;
	width:742px;
	margin-top:17px;
	margin-left:18px;
	font-size:14px;
	color:#333;
}