/* 公司简介 by taoyanran */
.comp-con h1{
	font-size:14px;
	line-height:22px;
	margin-top:15px;
	text-align:center;
	color:#333;	
}
.comp-con-zy strong{
	margin-left:48px;
	color:#333;
	font-size:14px;
	line-height:24px;
}
.comp-con-zy p{
	margin-left:20px;
	font-size:14px;
	color:#333;
	width:920px;
	text-indent:2em;
	padding-bottom:34px;
	line-height:24px;
}
/* 物业管理 by taoyanran */
.prop-con-br{
	width:920px;
	font-size:14px;
	color:#333;
	text-indent:2em;
	padding:18px 19px 22px 22px;
}
.prop-con dl{
	width:929px;
	margin-left:17px;
	background:url(../bg/propert-con-a1.gif) 0 0 repeat-x;
	height:auto !important;
	height:130px;
	min-height:130px;
}
.prop-con dl img{
	float:left;
	margin-top:8px;
}
.prop-con dl .prop-con-hd{
	float:left;
	width:156px;
	margin-left:12px;
	margin-top:8px;
	text-align:center;
	line-height:25px;
	font-size:14px;
}
.prop-con-hd a{
	color:#fff;
}
.prop-con-hd a:hover{
	color:#cd0200;
}
.prop-con-work{
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.prop-con-villa{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}
.prop-con-house{
	background:url(../bg/propert-con-bg.gif) 0 -50px no-repeat;
}
.prop-con-cate{
	background:url(../bg/propert-con-bg.gif) 0 -75px no-repeat;
}
.prop-con-flow{
	background:url(../bg/propert-con-bg.gif) 0 -100px no-repeat;
}
.prop-con dl dd{
	float:left;
	width:742px;
	margin-top:17px;
	margin-left:18px;
	font-size:14px;
	color:#333;
}
/* 后勤保障 by taoyanran*/
.logi-con dl{
	width:935px;
	height:auto !important;
	height:224px;
	min-height:224px;
	margin-left:11px;
}
.logi-con dl img{
	float:left;
}
.logi-con-hd{
	float:left;
	font-size:14px;
	line-height:25px;
	text-indent:12px;
	width:156px;
	margin-left:13px;
}
.logi-con-hd a{
	color:#fff;
}
.logi-con-hd a:hover{
	color:#cd0200;
}
.logi-con dd{
	float:left;
	width:646px;
	font-size:14px;
	margin-left:21px;
	margin-top:12px;
}
.logi-con-property{
	margin-top:14px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
}
.logi-con-prop{
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.logi-con-motorcade{
	margin-top:17px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
	margin-bottom:30px;
}
.logi-con-moto{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}
/* 船员中心 by taoyanran*/
.boat-con{
	padding-bottom:44px;
}
.boat-photo{
	float:left;
	margin-left:11px;
	margin-top:14px;
	display:inline;
}
.boat-referral{
	float:left;
	width:656px;
	margin-left:21px;
	margin-top:5px;
}
.boat-referral dl{
	padding-bottom:17px;
	padding-top:10px;
	background:url(../bg/propert-con-a1.gif) 0 100% repeat-x;
}
.boat-con-boatan-hd{
	display:block;
	width:156px;
	line-height:25px;
	font-size:14px;
	text-indent:13px;
	font-weight:bold;
	background:url(../bg/propert-con-bg.gif) 0 0px no-repeat;
}
.boat-con-boatan-hd a{
	color:#fff;
}
.boat-con-boatan-hd a:hover{
	color:#cd0200;
}
.boat-con-guest .boat-con-boatan-hd,.boat-con-seat .boat-con-boatan-hd{
	background:url(../bg/propert-con-bg.gif) 0 -25px no-repeat;
}
.boat-referral dd{
	font-size:14px;
	color:#333;
	margin-left:7px;
	padding-top:12px;
}
/* 物流仓储中心 by libin*/
.good {
	padding-top: 18px;
	padding-bottom: 56px;
}
.good p {
	width: 915px;
	font-size: 14px;
	color: #333333;
	text-indent: 2em;
	line-height: 20px;
	margin: 0 25px 34px 22px;
}
.good-pict {
	text-align: center;
	margin-bottom: 12px;
}
.good-pict1 {
	width: 336px;
	height: 145px;
}
.good-picf {
	text-align: center;
}
.good-picf1 {
	width: 271px;
	height: 186px;
}
.good-picf2 {
	width: 271px;
	height: 187px;
}
.good-picf img {
	margin-right: 20px;
	margin-left: 20px;
}
/* 新闻中心 by libin */
.news {
	width: 930px; 
	font-size: 14px;
	margin-left: 21px;  
}
.news-list {
	width: 929px;
	list-style-type: none;
}
.news-list li {
	height: 40px;
	line-height: 39px;
	background: url(../bg/point.gif) 0 bottom repeat-x;
}
.news-list li em {
	width: 763px;	
	height: 39px;
	float: left;
	background: url(../bg/news-jiantou.gif) 0 center no-repeat;
}
.news-list li a {
	float: left;
	margin-left: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 715px;
	width: expression(this.offsetWidth > 715 ? '715px': true); 
}
.news-list li var {
	width: 21px;
	float: left;
	margin-left: 10px;
	background: url(../bg/news-hotbg.gif) 0 center no-repeat;
}
.news-list li span {
	font-family: "微软雅黑";
	color: #333333;
	float: right;
	margin-right: 10px;
}
.fy {
	width: 201px;
	height: 17px;
	float: right; 
	margin: 12px 0px 16px 0; 
}
.fy a {
	width: 17px;
	height: 17px;
	font-family: arial; 
	font-weight: bold;
	color: #9dd3e2;
	text-align: center;
	display: block;
	float: left;
	margin-left: 23px;
	display: inline;
}
.fy-up {
	background: url(../bg/news-fybg.gif) 0 0 no-repeat;
}
.fy-down {
	background: url(../bg/news-fybg.gif) 0 -17px no-repeat;
}
.fy-num:hover {
	background: url(../bg/news-numbg.gif) 0 0 no-repeat;
}
/* 企业文化 by libin*/
.cult {
	font-size: 12px;
	margin: 27px 0 0 49px;
}
.cult img {
	width: 221px;
	height: 222px;
	padding: 17px 16px 17px 18px; 
	border: 1px solid #d3d2ce;
	background-color: #f7f7f5;
	vertical-align: top;
}
.cult .cult-t-r img {
	width: 524px;
	height: 526px;
}
.cult-t-l {
	width: 257px;
	height: 562px;
	float: left;
}
.cult-tl-first {
	margin-bottom: 45px;
}
.cult-t-r {
	padding: 0 1px 1px;
	background-color: #f7f7f5;
	float: left;
	margin-left: 44px;
	position: relative;
}
.cult-pbg {
	width: 523px;
	height: 70px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	background: url(../bg/cult-pbg.gif) 0 0 no-repeat;
	position: absolute;
	bottom: 18px;
	left: 20px;
}
.cult-pinfo {
	width: 480px;
	height: 38px;
	line-height: 14px;
	color: #fff;
	position: absolute;
	bottom: 33px;
	left: 47px;  
}
.cult-pinfo strong {
	width: 450px;
	margin-bottom: 12px;
	float: left;
}
.cult-pinfo em {
	margin-right: 37px;
	float: left;
}
.cult-b {
	float: left;
	margin-top:42px;
}
.cult-b img {
	float: left;
	margin-right: 45px;
}
.cult-gd {
	width: 859px;
	height: 20px;
	float: left;
	margin: 20px 1px 0 1px; 
	padding-bottom: 36px;
	background: url(../bg/cult-gdbg.gif) 0 0 no-repeat;
}
/*  联系我们 by libin*/
.cont {
	font-family: tahoma;
	color: #333333;
	text-align: center;
	padding-bottom: 50px;
}
.cont h3 {
	font-size: 18px;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-top: 19px;
	margin-bottom: 17px;
}
.cont p span {
	font-size: 16px;
	font-family: "微软雅黑";
	margin-right: 24px;
}
.cont-point {
	width: 929px;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	margin: 14px auto 25px;
	background: url(../bg/point.gif) 0 0 repeat-x;
}
.cont-tab {
	width: 849px;
	font-size: 14px;
	margin: 0 auto; 
	border-collapse:collapse;
	border: 1px solid #318c5f;
}
.cont-tab th {
	height: 33px;
	background-color: #318c5f;
	color: #fff;
}
.cont-tab th,.cont-tab td {
	width: 257px;
	height: 33px;
	line-height: 25px;
	border: 1px solid #318c5f;
}
.cont-tab .cont-last-th {
	width: 331px;
}