/*CSS reset*/
html{color:#000;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#; outline:none;}
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup,i,b{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

.clearfix{display:block;zoom:1;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
body{background-color: #e9eaec;position: relative;}

.input-file {
	width: 145px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ccc;
	background: #fff url(../images/input-file.gif) 5px 7px no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #8c8a8a;
	text-indent: 38px;
	position: relative;
}
.input-file-btn {
	width: 145px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity: 0);
	font-size: 36px;
	cursor: pointer;
}
.select select{
	border: none;
	outline: none;
	background: transparent url(../images/select.jpg) right center no-repeat;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	margin: -2px -21px 0 -2px;
	*margin-right: 0px;
	*background: none;
}
.selectInner{
	height: 20px;
	overflow: hidden;
	
}
.select{

	/*display: inline-block;*/
	float: left;
	/*margin: 50px;*/
	border: 1px solid #ccc;
	padding: 8px 21px 8px 16px;
	background: white;
	*padding-right: 0;
}

/* header */
.com-header{
	min-width: 953px;
	height: 65px;
	background: url(../images/com-head-bac.jpg) repeat-x;
	/*overflow: hidden;*/
}
.com-header-main{
	width: 953px;
	height: 65px;
	margin: 0 auto;
	padding-left: 9px;
	position: relative;
}

.com-logo{
	float: left;
	width: 75px;
	height: 65px;
}


.com-header-nav{
	float: left;
	display: inline;
	margin-left: 23px; 
	margin-right: 3px;
	height: 65px;
	overflow: hidden;
}
.com-header-nav li{
	float: left;
	height: 65px;
}
.com-header-nav li a{
	display: inline-block;
	padding: 0 21px;
	font-size: 16px;
	font-weight: bold;
	color: #9b6405;
	line-height: 65px;
}
.com-header-nav li a:hover,.com-header-nav li.selected a{
	background-color: #ffcd59;
}

.com-header-search{
	float: left;
	width: 157px;
	height: 22px;
	margin-top: 19px;
	padding: 2px 0 2px 5px;
	border: 1px solid #ca9720;     
	background-color: white;
}
.com-header-search input{
	float: left;
	width: 129px;
	height: 22px;
/*	*height: 20px;*/
	line-height: 22px;
	outline: none;
	border: none;
	font-size: 14px;
	font-family: "宋体";
}
.com-header-search a{
	/*display: inline-block;*/
	float: left;
	padding-left: 3px;
	width: 20px;
	height: 22px;
	overflow: hidden;
	background: url(../images/com-header-bac.png) 5px -2px no-repeat;
}

.com-header-userinfor{
	float: left;
	height: 28px;
	padding: 19px 0 18px 5px;
}
.com-header-userinfor a{
	float: left;
	color: #9a6c07;
	font-size: 16px;
	line-height: 28px;
}
.com-header-onlogin, .com-header-unlogin{
	height: 28px;
	padding-left: 13px;
}
.com-header-message,.com-header-user,.com-header-personal{
	float: left;
	height: 28px;
	padding-left: 4px;
}
.com-header-message{
	padding-right: 15px;
}
.com-header-onlogin div em{
	float: left;
	width: 11px;
	height: 28px;
	padding-left: 7px;
	background: url(../images/com-header-bac.png) 8px -110px no-repeat;
	cursor: pointer;
	cursor: hand;
}
.com-header-message span,.com-header-personal span{
	float: left;
	width: 27px;
	height: 28px;
	background-image: url(../images/com-header-bac.png);
	background-repeat: no-repeat;
}
.com-header-message span{
	width: 30px;
	background-position: 0 -25px;
}
div.com-header-getmeg span{
	background-position: 0 -55px;
}
.com-header-personal span{
	background-position: 0 -85px;
}
.com-header-user{
	position: relative;
}
.com-header-user img{
	float: left;
	display: inline;
	width: 26px;
	height: 26px;
	border: 1px solid #e4b74d;
}

.com-header-unlogin .com-header-userinfor{
	margin-left: 17px;
}
.com-header-userinfor .com-header-unlogin em{
	float: left;
	width: 2px;
	height: 17px;
	margin: 5px 9px 5px 9px;
	background-color: #d28d25;
	overflow: hidden;
}

/*mune*/
.com-header-menu{
	position: absolute;
	display: block;
	height: auto;
	overflow: hidden;
	right: 0;
	top: 59px;
	display: none;
}
.com-menu-main{
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	background: #f6f6f6;
	font-size: 12px;
	text-align: center;
}
.com-header-menu a{
	font-size: 12px;
}
.com-header-menu ul li {
	padding: 13px 13px 0;
}
.com-mune-list a{
	padding: 13px 13px 0;
	color: #555555;
}
.com-menu-top{
	height: 6px;
	overflow: hidden;
	background: url(../images/menu.png) right 0 no-repeat;
}
.com-header-menu dl{
	float: left;
	display: block;
	height: 100%;
}
.com-header-menu dt{
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #888888;
	padding: 0 13px;
	font-size: 12px;
}
.com-menu-prop dt{
	font-weight: bold;
}
.com-menu-user dt a{
	color: #555555;
}
.com-menu-main ul{
	border-top: 1px solid #ededed;
}
.com-menu-prop{
	border-right: 1px solid #ededed;
}
.com-menu-user{
	border-left: 1px solid #ededed;
	margin-left: -1px;
	background-color: white;
}
.com-menu-user li a{
	color: #888888;
}
.com-menu-add{
	line-height: 36px;
	text-align: left;
	padding: 0 14px;
}
.com-menu-add strong{
	font-weight: bold;
}
.com-menu-prop .com-menu-add a{
	color: #cf8e08;
}
.com-menu-user .com-menu-add{
	border-top: 1px solid #ededed;
}
.com-menu-user .com-menu-add a{
	color: #4c93e1;
}
/* 切换 */
/* 未登录 */
.com-header-onlogin{
	display: none;
}

/* 登录 */
.com-login .com-header-unlogin,.com-login .com-header-personal{
	display: none;
}
.com-login .com-header-onlogin{
	display: block;
}
/*个人中心*/
.com-person .com-header-unlogin,.com-person .com-header-user,.com-person ul,.com-person .com-header-search{
	display: none;
}
.com-person .com-header-onlogin, .com-person .com-header-personal{
	display: block;
}
.com-person .com-header-userinfor{
	float: right;
}

/* footer */
.com-footer{
	height: 38px;
	min-width: 963px;
	background-color: #e0b45f;
}

.com-footer-main{
	width: 963px;
	height: 38px;
	margin: 0 auto;
	line-height: 38px;
}
.com-footer-main a{
	margin-right: 28px;
	font-size: 14px;
	color: #67470a;
	line-height: 38px;
}