.incubaservice {
	width: 960px;
	margin: 0 auto;
}
.incubaservice-nav {
	width: 100%;
	height: 85px;
	border: 1px solid #cbcbcb;
	border-top: none;
	background: #fff;
} 
.incubaservice-nav li {
	float: left;
	width: 319px;
	height: 80px;
	border-right: 1px solid #cfcfcf;
	background: #e8e8e8;
	line-height: 80px;
	text-align: center;
}
.incubaservice-nav .incubaservice-nav-last {
	border-color: transparent;
}
.incubaservice-nav h1 a,.incubaservice-main-subnav li a {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.incubaservice-main-subnav li a,.incubaservice-nav a{
	float: left;
	width: 100%;
	height: 100%;
}
.incubaservice .incubaservice-select { /* incubaservice-nav和subnav通过加select类名来改变选中的状态 */
	background: #fff;
}
.incubaservice-main-info {
	position: relative;
	width: 100%;
	height: 195px;
	margin-top: 30px;
	background: #fff;
}
.incubaservice-main-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.incubaservice-main-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	margin-right: 20px;
	background: #e9eaec;
}
.incubaservice-main-info dl dt img {
	width: 102px;
	height: 102px;
}
.incubaservice-main-info dl dd {
	float: left;
	color: #333;
}
.incubaservice-main-info dl dd h3 {
	font-weight: bold;
}
.incubaservice-main-info dl dd var {
	display: block;
}
.incubaservice-main-info dl dd input {
	width: 437px;
	height: 36px;
	margin-top: 14px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 12px;
}
.incubaservice-main-info dl dd input:empty { /* 针对safari的input输入框光标的位置 */
	padding-left: 0.5em;
}
.incubaservice-main-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.incubaservice-main-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.incubaservice-main-subnav {
	width: 100%;
	height: 60px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
.incubaservice-main-subnav li {
	float: left;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.incubaservice-main-services h3 {
	margin-top: 28px;
	margin-left: 32px;
	font-weight: bold;
}
.incubaservice-main-services-con {
	margin-top: 18px;
	padding: 34px 50px 123px 103px;
	background: #fff;
}
.incubaservice-main-services-input li {
	float: left;
	height: 36px;
	margin-right: 78px;
	font-size: 12px;
	/*line-height: 36px;*/
}
.incubaservice-main-services-con label input,.incubaservice-main-services-con label span{
	float: left;
	margin-right: 3px;
}
.incubaservice-main-services-con div {
/*	margin-top: 12px;*/
	font-size: 12px;
}
.incubaservice-main-services-con div textarea {
	width: 401px;
	height: 106px;
	margin-top: 18px;
	padding: 12px 18px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 14px;
	resize: none;
	overflow: auto;
}
.incubaservice-main-services-num {
	margin: 10px 0 0 18px;
	color: #ababab;
}
.incubaservice-main-services-sub {
	text-align: center;
}
.incubaservice-main-services-sub input {
	width: 235px;
	height: 51px;
	margin-top: 72px;
	background: #4b99e4;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	border: 0;
	cursor: pointer;
	cursor: hand;
}