
body{font-size:12px}
.regprojs,.parreg,.parconf,.apply,.members,.coconf,.coreg,.proconf,.proreg{
	width:960px;
	margin:0 auto;
	overflow:hidden;
	background:#e9eaec;
}
.regprojs h3,.parreg h3,.parconf h3,.apply h3,.members h3,.coconf h3,.coreg h3,.proconf h3,.proreg h3{
	height:85px;
	font-size:14px;
	color:#343436;
	line-height:115px;
	font-weight:bold
}
.regprojs-nav{
	width:958px;
	height:83px;
	border:1px solid #cbccce;
	overflow:hidden;
	font-family:"微软雅黑"
}
.regprojs-nav ul{
	width:9999px;
	height:78px;
	border-bottom:5px solid #fff;
	overflow:hidden;
}
.regprojs-nav ul li{
	width:481px;
	height:78px;
	float:left;
	border-right:1px solid #cbccce;
	text-align:center;
	line-height:78px;
}
.regprojs-nav ul li a{
	font-size:18px;
	color:#333;
	display:block;
}
.regprojs-nav ul li .regprojs-project{
	background:#fff;
}
.parconf-last{
	color:#555555;
	background:white;
}
.parconf-last,.parconf-visit{
	height:50px;
	width:235px;
	margin-right:73px;
	font-size:14px;
	border:none;
	margin-top:60px;
	text-align:center;
	font-weight:bold;
	cursor: hand;
	cursor: pointer;
}
.parconf-visit{
	color:white;
	background:#4a96e2;
}
.parconf-auditor{
	height:50px;
	width:325px;
	color:#333333;
	font-size:14px;
	background:#efae2c;
	border:none;
	text-align:center;
	font-weight:bold;
	cursor: hand;
	cursor: pointer;
}

/*合伙人注册页面*/
.regist-checkbox{
	margin:0 8px 0 22px
}
.partner-regist-select{
	height: 16px;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	overflow: hidden;
	float:left
}
.partner-regist-select div{
	float: left;
	width: 100%;
	height: 16px;	
	overflow: hidden;
	margin-right: -23px;
}
.partner-regist-select select{
	margin-top: -2px;
	margin-left: -2px;
	*margin-top: -4px;
	margin-right: -2px;
	width: 100%;
	background: transparent url(../images/select.jpg) no-repeat;
	border: 0;
	outline: 0;
	vertical-align: middle;
	
}
div.partner-regist-selectMask{
	float: left;
	width:30px;
	height: 100%;
	background: white;
	overflow: hidden;
}

/* 需要修改的东西 */
.partner-regist-select{
	width: 72px;
}
.partner-regist-select select{
	background-position: 39px center;
	*background-position: 36px center;
}
.partner-regist-year{
	float:left;
	width:47px;
	height:38px;
	text-align:center;
	line-height:38px;
	font-size:14px;
	color:#333
}
.partner-style{
	width:93px;
	margin-left:20px;
	*margin-left:30px;
}
.partner-regist-selects{
	height: 16px;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	overflow: hidden;
	float:left;
	margin-left:20px
}
.partner-regist-selects div{
	float: left;
	width: 100%;
	height: 16px;	
	overflow: hidden;
	margin-right: -23px;
}
.partner-regist-selects select{
	margin-top: -2px;
	margin-left: -2px;
	*margin-top: -4px;
	margin-right: -2px;
	width: 100%;
	background: transparent url(../images/select.jpg) no-repeat;
	border: 0;
	outline: 0;
	vertical-align: middle;
	
}
div.partner-regist-selectMasks{
	float: left;
	width:30px;
	height: 100%;
	background: white;
	overflow: hidden;
}

/* 需要修改的东西 */
.partner-regist-selects{
	width: 440px;
}
.partner-regist-selects select{
	background-position: 407px center;
	*background-position: 403px center;
}
.pb-66{
	padding-bottom:66px;
}
