.recruit {
	width: 960px;
	margin: 0 auto;
}
.recruit-nav {
	width: 100%;
	height: 85px;
	border: 1px solid #cbcbcb;
	border-top: none;
	background: #fff;
}
.recruit-nav li a,.recruit-main-subnav li a{
	float: left;
	width: 100%;
	height: 100%;
}
.recruit-nav li {
	float: left;
	width: 319px;
	height: 80px;
	border-right: 1px solid #cfcfcf;
	background: #e8e8e8;
	line-height: 80px;
	text-align: center;
}
.recruit-nav .recruit-nav-last {
	border-color: transparent;
}
.recruit-nav h1 a,.recruit-main-subnav li a {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.recruit .recruit-select { /* recruit-nav和subnav通过加select类名来改变选中的状态 */
	background: #fff;
}
.recruit-main-info {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 195px;
	background: #fff;
} 
.recruit-main-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.recruit-main-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.recruit-main-info dl dt img {
	width: 102px;
	height: 102px;
}
.recruit-main-info dl dd {
	float: left;
	margin-left: 20px;
}
.recruit-main-info dl dd h3 {
	font-weight: bold;
}
.recruit-main-info dl dd var {
	display: block;
}
.recruit-main-info dl dd input {
	float: left;
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 14px;
	outline: none;
}
.recruit-main-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.recruit-main-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.recruit-main-subnav {
	margin-top: 30px;
	border: 1px solid #ccc;
	width: 100%;
	height: 60px;
}
.recruit-main-subnav li {
	float: left;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.recruit-main-lt {
	float: left;
	width: 680px;
}
.recruit-main-recruiting-top h3 , .recruit-main-recruited-top h3{
	float: left;
	margin-left: 32px;
	font-weight: bold;
	color: #333;
}
.recruit-main-recruiting-top p , .recruit-main-recruited-top p{
	float: right;
	margin-right: 10px;
	color: #4c98ec;
}
.recruit-main-recruiting , .recruit-main-recruited {
	margin-top: 28px;
	width: 100%;
}
.recruit-main-recruiting-con , .recruit-main-recruited-con {
	padding: 0 34px;
	background: #fff;
	font-size: 14px;
}
.recruit-main-recruiting-con strong , .recruit-main-recruiting-con dd span  , 
.recruit-main-recruited-con strong , .recruit-main-recruited-con dd span {
	display: block;
}
.recruit-main-recruiting-con , .recruit-main-recruited-con {
	margin-top: 20px;
	overflow: hidden;
}
.recruit-main-recruiting-con p {
	margin: 20px 0 5px 0;
}
.recruit-main-recruiting-con p em {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	color: #a68536;
}
.recruit-main-recruiting-con p span {
	margin-right: 10px;
	color: #333;
}
.recruit-main-recruiting-con div {
	margin-top: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
	overflow: hidden;
}
.recruit-main-recruited-con div {
	margin-top: 29px;
	padding-bottom: 31px;
}
.recruit-main-recruiting-con strong , .recruit-main-recruited-con strong{
	margin: 20px 0;
	color: #555;
	font-weight: bold;
}
.recruit-main-recruiting-con dd span , .recruit-main-recruited-con dd span {
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #333;
}
.recruit-main-recruiting-con dd var , .recruit-main-recruited-con dd var {
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #555;
}
.recruit-main-recruiting-con .recruit-main-recruiting-art ,
.recruit-main-recruited-con .recruit-main-recruited-art 
{
	font-weight: normal;
	color: #888;
}
.recruit-main-recruiting-con dl , .recruit-main-recruited-con dl {
	float: left;
	margin-bottom: 20px;
	width: 33.3%;
}
.recruit-main-recruiting-con dd , .recruit-main-recruiting-con dt ,
.recruit-main-recruited-con dd , .recruit-main-recruited-con dt {
	float: left;
}
.recruit-main-recruiting-con dd ,
.recruit-main-recruited-con dd {
	margin-left: 18px;
}
.recruit-main-recruiting-con dt img , .recruit-main-recruited-con dt img {
	width: 72px;
	height: 72px;
	vertical-align: top;
}
.recruit-main-recruited-con div dl {
	margin: 19px 0;
}
.recruit-main-rt {
	float: right;
	width: 260px;
	margin-top: 28px;
}
.recruit-main-rt h3 {
	margin-left: 32px;
	font-weight: bold;
	color: #333;
}
.recruit-main-rt-con {
	margin-top: 20px;
	padding: 17px 20px;
	background: #fff;
	font-size: 14px;
	color: #555;
}
.recruit-main-rt-con div {
	border-top: 1px solid #eee;
}
.recruit-main-rt-con .recruit-main-rt-con-mod1 {
	border-top: none;
	padding-bottom: 10px;
}
.recruit-main-rt-con span {
	display: block;
	margin-top: 25px;
}
.recruit-main-rt-con a {
	display: block;
	margin: 25px auto;
	width: 160px;
	height: 50px;
	line-height: 50px;
	background: #4b99e4;
	text-align: center;
	color: white;
	font-weight: bold;
}
.recruit-main-rt-con strong a  {
	color: #fff;
}