.poineerpro {
	width: 960px;
	margin: 0 auto;
}
.poineerpro-nav {
	width: 100%;
	height: 85px;
	border: 1px solid #cbcbcb;
	border-top: none;
	background: #fff;
} 
.poineerpro-nav li {
	float: left;
	width: 319px;
	height: 80px;
	border-right: 1px solid #cfcfcf;
	background: #e8e8e8;
	line-height: 80px;
	text-align: center;
}
.poineerpro-nav li a,.poineerpro-main-subnav li a{
	float: left;
	width: 100%;
	height: 100%;
}
.poineerpro-nav .poineerpro-nav-last {
	border-color: transparent;
}
.poineerpro-nav h1 a,.poineerpro-main-subnav li a {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.poineerpro .poineerpro-select { 
	background: #fff;
}
.poineerpro-main-info {
	position: relative;
	width: 100%;
	height: 195px;
	margin-top: 30px;
	background: #fff;
}
.poineerpro-main-info p {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #4c98ec;
	cursor: pointer;
} 
.poineerpro-main-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.poineerpro-main-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.poineerpro-main-info dl dt img {
	width: 102px;
	height: 102px;
}
.poineerpro-main-info dl dd {
	float: left;
	margin-left: 20px;
}
.poineerpro-main-info dl dd h3 {
	font-weight: bold;
}
.poineerpro-main-info dl dd var {
	display: block;
}
.poineerpro-main-info dl dd input {
	float: left;
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 14px;
	outline: none;
}
.poineerpro-main-info dl dd input:empty { 
	padding-left: 0.5em;
}
.poineerpro-main-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.poineerpro-main-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.poineerpro-main-subnav {
	width: 100%;
	height: 60px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
.poineerpro-main-subnav li {
	float: left;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 60px;
	text-align: center;
}
.poineerpro-main-lt {
	float: left;
	width: 680px;
}
.poineerpro-main-product-top h3,.poineerpro-main-team-top h3,.poineerpro-main-progress-top h3 {
	float: left;
	margin-left: 32px;
	font-weight: bold;
}
.poineerpro-main-product-top p,.poineerpro-main-team-top p,.poineerpro-main-progress-top p {
	float: right;
	margin-right: 10px;
	color: #4c98ec;
}
.poineerpro-main-product-top , .poineerpro-main-team-top , .poineerpro-main-progress-top {
	margin-bottom: 19px;
}
.poineerpro-main-product,.poineerpro-main-team,.poineerpro-main-progress {
	width: 100%;
	margin-top: 28px;
}
.poineerpro-main-product-con {
	padding: 0 75px;
	background: #fff;	
}
.poineerpro-main-team-con , .poineerpro-main-progress-con  {
	padding: 0 34px;
	background: #fff;	
}
.poineerpro-main-product-con-pic {
	padding-top: 40px;
}
.poineerpro-main-product-con-bigpic {
	width: 432px;
	height: 287px;
	overflow: hidden;
	background: #123; 
	margin: 0 auto;
}
.poineerpro-main-product-con-bigpic img {
	width: 432px;
	height: 287px;
	vertical-align: top;
}
.poineerpro-main-product-con-smlpic {
	text-align: center;
	margin: 30px 0;
}
.poineerpro-main-product-con-smlpic img {
	margin: 0 15px;
	width: 100px;
	height: 64px;
	vertical-align: top;
}
.poineerpro-main-product-con-desc p , .poineerpro-main-progress-con p {
	margin-bottom: 26px;
	line-height: 24px;
	font-size: 12px;
	text-indent: 2em;
	text-align: justify;
}
.poineerpro-main-team-con strong , .poineerpro-main-team-con span {
	display: block;
	color: #555;
	font-weight: bold;
}
.poineerpro-main-team-con {
	overflow: hidden;
	font-size: 14px;
}
.poineerpro-main-team-con div {
	margin-top: 11px;
	padding-bottom: 12px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.poineerpro-main-team-con strong {
	margin: 20px 0;
}
.poineerpro-main-team-con span,.poineerpro-main-team-con var {
	font-size: 14px;
	width: 60px;
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #333;
	overflow: hidden;
}
.poineerpro-main-team .poineerpro-main-team-con var {
	color: #555;
}
.poineerpro-main-team-con .poineerpro-main-team-con-art {
	color: #888;
}
.poineerpro-main-team-con .poineerpro-main-team-con-art {
	font-weight: normal;
}
.poineerpro-main-team-con dl {
	float: left;
	margin-bottom: 20px;
	width: 33.3%;
}
.poineerpro-main-team-con dd , .poineerpro-main-team-con dt {
	float: left;
}
.poineerpro-main-team-con dd {
	margin-left: 18px;
}
.poineerpro-main-team-con dt img {
	width: 72px;
	height: 72px;
	vertical-align: top;
}
.poineerpro-main-progress-con {
	padding-top: 24px;
}
.poineerpro-main-progress-con table {
	width: 100%;
}
.poineerpro-main-progress-con th {
	width: 15%;
	font-size: 14px;
	font-weight: bold;
	color: #555;
}
.poineerpro-main-progress-con td {
	font-size: 12px;
	color: #333;
}
.poineerpro-main-progress-con th , .poineerpro-main-progress-con td {
	text-align: left;
	height: 28px;
	line-height: 28px;
	vertical-align: top;
}
.poineerpro-main-progress-con td img {
	margin: 30px 14px;
	width: 100px;
	height: 63px;
	vertical-align: top;
}
.poineerpro-main-progress-con td .poineerpro-main-progress-con-bigpic {
	width: 434px;
	height: 289px;
	margin: 0;
}
.poineerpro-main-progress-con-smlpics {
	padding-left: 17px;
	text-align: center;
}
.poineerpro-main-progress-con p {
	margin-left: -3em;
	text-indent: 2em;
}
.poineerpro-main-rt {
	float: right;
	width: 260px;
	margin-top: 28px;
	overflow: hidden;
}
.poineerpro-financing {
	margin-bottom: 38px;
}
.poineerpro-financing-con , .poineerpro-recruit-con {
	background: #fff;
	width: 220px;
	height: 354px;
	padding: 14px 20px;
	font-size: 14px;
}
.poineerpro-recruit h3 , .poineerpro-financing h3 {
	margin-bottom: 19px;
	padding-left: 40px;
	font-weight: bold;
}
.poineerpro-financing-con .poineerpro-financing-public {
	float: right;
	margin-top: 17px;
	width: 80px;
	height: 35px;
	background: #eee;
	line-height: 35px;
	text-align: center;
	color: #707d86;
}
.poineerpro-financing-progress , .poineerpro-financing-progress div {
	float: left;
	margin: 17px 0;
	width: 100%;
	height: 15px;
	background: #eee;
}
.poineerpro-financing-progress div {
	margin: 0;
	width: 70%;
	background: #0fad73;
}

.poineerpro-financing-con ul {
	float: left;
	margin-top: -6px;
	width: 100%;
	height: 118px;
}
.poineerpro-financing-con ul li {
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #eee;
	line-height: 58px;
}
.poineerpro-financing-con li span {
	display: inline-block;
	width: 40%;
	height: 100%;
	color: #555;
}
.poineerpro-financing-con .poineerpro-financing-amount {
	width: 56%;
	text-align: right;
	color: #333;
	font-weight: bold;
}
.poineerpro-financing-con p {
	float: left;
	width: 100%;
	height: 64px;
	line-height: 64px;
	color: #0bac76;
	text-align:center;
}
.poineerpro-financing-con p span {
	color: #0bac76;
	font-weight: bold;
}
.poineerpro-financing-con a {
	float: left;
	width: 100%;
	height: 51px;
	background: #fede93;
	text-align: center;
	line-height: 51px;
	color: #444;
	font-weight: bold;
}

.poineerpro-recruit-con {
	background: #fff;
	height: 341px;
	padding-top: 0;
	overflow: hidden;
}
.poineerpro-recruit-con strong {
	display: block;
	margin: 15px auto;
	color: #555;
	font-weight: bold;
}
.poineerpro-recruit-con .poineerpro-recruit-mod {
	width: 100%;
	height: 100px;
	margin-top: -1px;
	padding-top: 12px;
	margin-bottom: 22px;
	border-top: 1px solid #eee;
}
.poineerpro-recruit-con div span{
	float: left;
	width: 40%;
	height: 25px;
	line-height: 25px;
}
.poineerpro-recruit-con div span a {
	color: #555;
}
.poineerpro-recruit-regist {
	display: block;
	width: 100%;
	height: 51px;
	line-height:51px;
	background: #4b99e4;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.poineerpro-editteam-wrap , .poineerpro-editproduct-wrap , .poineerpro-editinfo-wrap , .poineerpro-editprogress-wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url("../images/mask.png") 0 0 repeat;
}
.poineerpro-editteam , .poineerpro-editproduct {
	margin: 110px auto;
	position: relative;
	padding: 0 65px 65px;
	width: 830px;
	background: #fff;
}
.poineerpro-editteam-close , .poineerpro-editproduct-close , .poineerpro-editinfo-close , .poineerpro-editprogress-close {
	position: absolute;
	right: -8px;
	top: -8px;
	width: 16px;
	height: 16px;
	background: #ccc;
	background: url('../images/edit-bj.png') 0 -16px no-repeat;
}
.poineerpro-editteam input , .poineerpro-editproduct input {
	margin-top: 40px;
	width: 442px;
	height: 38px;
	outline: 0;
	border: 1px solid #ccc;
	font-size: 14px;
}
.poineerpro-editteam input:empty , .poineerpro-editproduct input:empty {
	padding-left: 0.5em;
}
.poineerpro-editproduct input {
	width: 720px;
}

.poineerpro-editteam th , .poineerpro-editproduct th , .poineerpro-editinfo th , .poineerpro-editprogress th {
	word-break:break-all;white-space:nowrap;
	font-weight: normal;
	font-size: 12px;
}
.poineerpro-editteam th span , .poineerpro-editproduct th span {
	display: block;
	margin-top: 40px;
	text-align: right;
}
.poineerpro-editteam td , .poineerpro-editproduct td , .poineerpro-editinfo td , .poineerpro-editprogress td{
	padding-left: 24px;
}
.poineerpro-editteam-pics , .poineerpro-editproduct-pics {
	overflow: visible;
}
.poineerpro-editteam-pics img , .poineerpro-editproduct-pics img {
	width: 66px;
	height: 66px;
	vertical-align: top;
}
.poineerpro-editproduct td textarea {
	margin-top: 50px;
	padding: 14px;
	width: 692px;
	height: 102px;
	resize: none;
	outline: 0;
	overflow: auto;
}
.poineerpro-editteam-pics span , .poineerpro-editproduct-pics span {
	float: left;
	position: relative;
	margin: 40px 46px 0 0;
}
.poineerpro-editteam-pics var , .poineerpro-editproduct-pics var {
	position: absolute;
	right: -8px;
	bottom: -8px;
	z-index: 2;
	width: 16px;
	height: 16px;
	background: url('../images/edit-bj.png') 0 0 no-repeat;
}
.poineerpro-editteam-pics strong , .poineerpro-editproduct-pics strong {
	position: relative;
	float: left;
	margin-top: 53px;
	width: 146px;
	height: 36px;
	line-height: 36px;
	background: url('../images/input-file.gif') 5px 5px no-repeat;
	border: 1px solid #ccc;
	text-align: center;
}
.poineerpro-editteam-pics .poineerpro-editteam-addmember {
	background: none;
	border-color: transparent;
}
.poineerpro-editteam-pics strong input , .poineerpro-editproduct-pics strong input {
	position: absolute;
	top: -41px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.poineerpro-editteam-pics .poineerpro-editteam-addmember , 
.poineerpro-editprogress-add-btn {
	margin-top: 63px;
	width: 146px;
	height: 16px;
	line-height: 16px;
}
.poineerpro-editprogress-add-btn {
	display: block;
	margin: 20px 0 30px;
}
.poineerpro-editprogress-date {
	padding-bottom: 30px;
}
.poineerpro-editteam-pics .poineerpro-editteam-addmember em ,
.poineerpro-editprogress-add-btn em {
	float: left;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	background: url('../images/edit-bj.png') 0 -32px no-repeat;
}
.poineerpro-editprogress-add-btn em {
	margin-left: 0;
	margin-right: 5px;
}
.poineerpro-editteam-pics .poineerpro-editteam-addmember span , 
.poineerpro-editprogress-add-btn span{
	float: left;
	margin: 0;
	font-size: 12px;
}
.poineerpro-editprogress table {
	margin-top: 40px;
}
.poineerpro-editproduct-descript span {
	display: block;
	margin: 5px 20px;
	color: #aaa;
}
.poineerpro-editteam .select , .poineerpro-editinfo .select , .poineerpro-editprogress .select {
	display: inline-block;
	margin-top: 40px;
	margin-right: 10px;	
	height: 16px;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	overflow: hidden;
}
.poineerpro-editinfo .select , .poineerpro-editprogress .select {
	margin-top: 0;
}
.poineerpro-editteam .select div , .poineerpro-editinfo .select div , .poineerpro-editprogress .select div {
	float: left;
	width: 100%;
	height: 16px;	
	overflow: hidden;
	margin-right: -23px;
}
.poineerpro-editteam .select select , .poineerpro-editinfo .select select , .poineerpro-editprogress .select select  {
	margin-top: -2px;
	margin-left: -2px;
	*margin-top: -4px;
	margin-right: -2px;
	width: 100%;
	border: 0;
	outline: 0;
	vertical-align: middle;
	
}
.poineerpro-editteam div.selectMask , .poineerpro-editinfo div.selectMask , .poineerpro-editprogress div.selectMask {
	float: left;
	width: 21px;
	height: 100%;
	background: white;
	overflow: hidden;
}
.poineerpro-editteam .select {
	width: 442px;
}
.poineerpro-editinfo .select {
	width: 437px;
}
.poineerpro-editteam .select select , .poineerpro-editinfo .select select , .poineerpro-editprogress .select select {
	background-position: 401px center;
	*background-position: 398px center;
}


.poineerpro-editinfo , .poineerpro-editprogress {
	position: relative;
	width: 764px;
	margin: 110px auto;
	padding: 20px 68px 112px;
	background: #fff;
}
.poineerpro-editinfo table th , .poineerpro-editprogress table th {
	font-size: 12px;
	font-weight: normal;
	text-align: right;
}
.poineerpro-editinfo table {
	margin-top: 40px;
}
.poineerpro-editinfo table td  {
	height: 78px;
}
.poineerpro-editinfo input , .poineerpro-editprogress input {
	width: 437px;
	height: 36px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 14px;
}
.poineerpro-editinfo input:empty , .poineerpro-editprogress input:empty {
	padding-left: 0.5em;
}
.poineerpro-editprogress input {
	width: 337px;
}
.poineerpro-editinfo td img , .poineerpro-editprogress td img {
	float: left;
	width: 66px;
	height: 66px;
}
.poineerpro-editinfo td div , .poineerpro-editprogress td div {
	float: left;
}
.poineerpro-editinfo .poineerpro-editinfo-file , .poineerpro-editprogress .poineerpro-editprogress-file {
	position: relative;
	width: 145px;
	height: 36px;
	margin-left: 28px;
	*margin-left: 28px;
	margin-top: 15px;
	border: 1px solid #ccc;
	background: url("../images/input-file.gif") 5px 7px no-repeat;
	line-height: 36px;
	font-size: 14px;
	color: #8c8a8a;
	text-indent: 38px;
}
.poineerpro-editinfo-file input , .poineerpro-editprogress-file input{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 145px;
	height: 36px;
	opacity: 0;
	filter: alpha(opacity: 0);
	font-size: 36px;
	cursor: pointer;
}
.poineerpro-editinfo-filesub , .poineerpro-editprogress-filesub {
	margin-top: -7px;
}
.poineerpro-editinfo .poineerpro-editinfo-filesub input , .poineerpro-editprogress .poineerpro-editprogress-filesub input {
	margin-left: 24px;
	margin-top: 23px;
	width: 145px;
	height: 36px;
	background: #4b99e4;
	color: #fff;
	border: 0;
}
.poineerpro-editinfo-sub , .poineerpro-editprogress-sub , .poineerpro-editproduct-save , .poineerpro-editteam-save {
	margin-top: 67px;
	text-align: center;
}
.poineerpro-editinfo .poineerpro-editinfo-sub input , .poineerpro-editprogress .poineerpro-editprogress-sub input ,
.poineerpro-editproduct-save input , .poineerpro-editteam-save input {
	width: 236px;
	height: 50px;
	background: #4b99e4;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: 0;
}
.poineerpro-editinfo-select , .poineerpro-editprogress-select {
	display: inline-block;
	width: 432px;
	height: 16px;
	border: 1px solid #ccc;
	margin-left: 24px;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	overflow: hidden;
}
.poineerpro-editinfo-select div , .poineerpro-editprogress-select div {
	float: left;
	width: 100%;
	height: 16px;	
	overflow: hidden;
	margin-right: -23px;
}
.poineerpro-editinfo-select select , .poineerpro-editprogress-select select {
	margin-top: -2px;
	margin-left: -2px;
	*margin-top: -4px;
	margin-right: -2px;
	width: 100%;
	background: transparent url(images/select.jpg) no-repeat;
	border: 0;
	outline: 0;
	vertical-align: middle;
}
div.poineerpro-editinfo-selectMask , div.poineerpro-editprogress-selectMask {
	float: left;
	width: 21px;
	height: 100%;
	background: white;
	overflow: hidden;
}
.poineerpro-editinfo .select select{
	background-position: 401px center;
	*background-position: 398px center;
}
.poineerpro-editprogress .select select{
	background-position: 401px center;
	*background-position: 398px center;
}
.poineerpro-editprogress textarea {
	margin-top: 50px;
	padding: 14px;
	width: 629px;
	height: 125px;
	resize: none;
	outline: 0;
	font-size: 14px;
	overflow: auto;
}
.recruit {
	width: 960px;
	margin: 0 auto;
}
.recruit-nav {
	width: 100%;
	height: 85px;
	border: 1px solid #cbcbcb;
	border-top: none;
	background: #fff;
}
.recruit-nav li a,.recruit-main-subnav li a{
	float: left;
	width: 100%;
	height: 100%;
}
.recruit-nav li {
	float: left;
	width: 319px;
	height: 80px;
	border-right: 1px solid #cfcfcf;
	background: #e8e8e8;
	line-height: 80px;
	text-align: center;
}
.recruit-nav .recruit-nav-last {
	border-color: transparent;
}
.recruit-nav h1 a,.recruit-main-subnav li a {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.recruit .recruit-select { /* recruit-nav和subnav通过加select类名来改变选中的状态 */
	background: #fff;
}
.recruit-main-info {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 195px;
	background: #fff;
} 
.recruit-main-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.recruit-main-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.recruit-main-info dl dt img {
	width: 102px;
	height: 102px;
}
.recruit-main-info dl dd {
	float: left;
	margin-left: 20px;
}
.recruit-main-info dl dd h3 {
	font-weight: bold;
}
.recruit-main-info dl dd var {
	display: block;
}
.recruit-main-info dl dd input {
	float: left;
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 14px;
	outline: none;
}
.recruit-main-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.recruit-main-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.recruit-main-subnav {
	margin-top: 30px;
	border: 1px solid #ccc;
	width: 100%;
	height: 60px;
}
.recruit-main-subnav li {
	float: left;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.recruit-main-lt {
	float: left;
	width: 680px;
}
.recruit-main-recruiting-top h3 , .recruit-main-recruited-top h3{
	float: left;
	margin-left: 32px;
	font-weight: bold;
	color: #333;
}
.recruit-main-recruiting-top p , .recruit-main-recruited-top p{
	float: right;
	margin-right: 10px;
	color: #4c98ec;
}
.recruit-main-recruiting , .recruit-main-recruited {
	margin-top: 28px;
	width: 100%;
}
.recruit-main-recruiting-con , .recruit-main-recruited-con {
	padding: 0 34px;
	background: #fff;
	font-size: 14px;
}
.recruit-main-recruiting-con strong , .recruit-main-recruiting-con dd span  , 
.recruit-main-recruited-con strong , .recruit-main-recruited-con dd span {
	display: block;
}
.recruit-main-recruiting-con , .recruit-main-recruited-con {
	margin-top: 20px;
	overflow: hidden;
}
.recruit-main-recruiting-con p {
	margin: 20px 0 5px 0;
}
.recruit-main-recruiting-con p em {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	color: #a68536;
}
.recruit-main-recruiting-con p span {
	margin-right: 10px;
	color: #333;
}
.recruit-main-recruiting-con div {
	margin-top: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
	overflow: hidden;
}
.recruit-main-recruited-con div {
	margin-top: 29px;
	padding-bottom: 31px;
}
.recruit-main-recruiting-con strong , .recruit-main-recruited-con strong{
	margin: 20px 0;
	color: #555;
	font-weight: bold;
}
.recruit-main-recruiting-con dd span , .recruit-main-recruited-con dd span {
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #333;
}
.recruit-main-recruiting-con dd var , .recruit-main-recruited-con dd var {
	height: 22px;
	line-height: 22px;
	font-weight: bold;
	color: #555;
}
.recruit-main-recruiting-con .recruit-main-recruiting-art ,
.recruit-main-recruited-con .recruit-main-recruited-art 
{
	font-weight: normal;
	color: #888;
}
.recruit-main-recruiting-con dl , .recruit-main-recruited-con dl {
	float: left;
	margin-bottom: 20px;
	width: 33.3%;
}
.recruit-main-recruiting-con dd , .recruit-main-recruiting-con dt ,
.recruit-main-recruited-con dd , .recruit-main-recruited-con dt {
	float: left;
}
.recruit-main-recruiting-con dd ,
.recruit-main-recruited-con dd {
	margin-left: 18px;
}
.recruit-main-recruiting-con dt img , .recruit-main-recruited-con dt img {
	width: 72px;
	height: 72px;
	vertical-align: top;
}
.recruit-main-recruited-con div dl {
	margin: 19px 0;
}
.recruit-main-rt {
	float: right;
	width: 260px;
	margin-top: 28px;
}
.recruit-main-rt h3 {
	margin-left: 32px;
	font-weight: bold;
	color: #333;
}
.recruit-main-rt-con {
	margin-top: 20px;
	padding: 17px 20px;
	background: #fff;
	font-size: 14px;
	color: #555;
}
.recruit-main-rt-con div {
	border-top: 1px solid #eee;
}
.recruit-main-rt-con .recruit-main-rt-con-mod1 {
	border-top: none;
	padding-bottom: 10px;
}
.recruit-main-rt-con span {
	display: block;
	margin-top: 25px;
}
.recruit-main-rt-con a {
	display: block;
	margin: 25px auto;
	width: 160px;
	height: 50px;
	line-height: 50px;
	background: #4b99e4;
	text-align: center;
	color: white;
	font-weight: bold;
}
.recruit-main-rt-con strong a  {
	color: #fff;
}
.investor {
	width: 960px;
	margin: 0 auto;
	padding-top: 37px;
}
.investor-info {
	position: relative;
	width: 100%;
	height: 195px;
	background: #fff;
}
.investor-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.investor-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.investor-info dl dt img {
	width: 102px;
	height: 102px;
}
.investor-info dl dd {
	float: left;
	margin-left: 20px;
}
.investor-info dl dd h3 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.investor-info dl dd var {
	display: block;
}
.investor-info dl dd input {
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 12px;
	outline: none;
}
.investor-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.investor-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.investor-subnav {
	width: 100%;
	height: 60px;
	margin-top: 9px;
	border: 1px solid #ccc;
}
.investor-subnav a {
	display: inline-block;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #fff;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.investor-invest {
	width: 100%;
	margin-top: 50px;
}
.investor-invest h3 {
	margin-left: 32px;
	font-weight: bold;
	color: #333;
}
.investor-invest-con {
	margin-top: 18px;
	background: #fff;
	font-size: 14px;
}
.investor-invest-con-top,.investor-invest-con-bom {
	padding: 40px 0 50px 45px;
}
.investor-invest-con-top p {
	color: #888;
}
.investor-invest-con-top ul {
	margin: 0 0 0 45px;
	color: #333;
}
.investor-invest-con-top ul li {
	float: left;
	width: 64px;
	height: 120px;
	margin: 15px 30px 0;
	text-align: center;
}
.investor-invest-con-top li span {
	display: inline-block;
	margin-top: 6px;
	height: 26px;
	line-height: 26px;
}
.investor-invest-con .investor-invest-con-bom {
	border-top: 1px solid #eee;
}
.investor-invest-con-bom p {
	float: left;
	color: #888;
}
.investor-invest-con-bom ul {
	float: left;
	margin: -8px 0 0 38px;
	color: #555;
}
.investor-invest-con-bom ul li {
	height: 30px;
	line-height: 30px;
}
.investor-invest-con-bom span{
	padding: 0 15px;
}
.incubaservice {
	width: 960px;
	margin: 0 auto;
}
.incubaservice-nav {
	width: 100%;
	height: 85px;
	border: 1px solid #cbcbcb;
	border-top: none;
	background: #fff;
} 
.incubaservice-nav li {
	float: left;
	width: 319px;
	height: 80px;
	border-right: 1px solid #cfcfcf;
	background: #e8e8e8;
	line-height: 80px;
	text-align: center;
}
.incubaservice-nav .incubaservice-nav-last {
	border-color: transparent;
}
.incubaservice-nav h1 a,.incubaservice-main-subnav li a {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.incubaservice-main-subnav li a,.incubaservice-nav a{
	float: left;
	width: 100%;
	height: 100%;
}
.incubaservice .incubaservice-select { /* incubaservice-nav和subnav通过加select类名来改变选中的状态 */
	background: #fff;
}
.incubaservice-main-info {
	position: relative;
	width: 100%;
	height: 195px;
	margin-top: 30px;
	background: #fff;
}
.incubaservice-main-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.incubaservice-main-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	margin-right: 20px;
	background: #e9eaec;
}
.incubaservice-main-info dl dt img {
	width: 102px;
	height: 102px;
}
.incubaservice-main-info dl dd {
	float: left;
	color: #333;
}
.incubaservice-main-info dl dd h3 {
	font-weight: bold;
}
.incubaservice-main-info dl dd var {
	display: block;
}
.incubaservice-main-info dl dd input {
	width: 437px;
	height: 36px;
	margin-top: 14px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 12px;
}
.incubaservice-main-info dl dd input:empty { /* 针对safari的input输入框光标的位置 */
	padding-left: 0.5em;
}
.incubaservice-main-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.incubaservice-main-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.incubaservice-main-subnav {
	width: 100%;
	height: 60px;
	margin-top: 30px;
	border: 1px solid #ccc;
}
.incubaservice-main-subnav li {
	float: left;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.incubaservice-main-services h3 {
	margin-top: 28px;
	margin-left: 32px;
	font-weight: bold;
}
.incubaservice-main-services-con {
	margin-top: 18px;
	padding: 34px 50px 123px 103px;
	background: #fff;
}
.incubaservice-main-services-input li {
	float: left;
	height: 36px;
	margin-right: 78px;
	font-size: 12px;
	/*line-height: 36px;*/
}
.incubaservice-main-services-con label input,.incubaservice-main-services-con label span{
	float: left;
	margin-right: 3px;
}
.incubaservice-main-services-con div {
/*	margin-top: 12px;*/
	font-size: 12px;
}
.incubaservice-main-services-con div textarea {
	width: 401px;
	height: 106px;
	margin-top: 18px;
	padding: 12px 18px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 14px;
	resize: none;
	overflow: auto;
}
.incubaservice-main-services-num {
	margin: 10px 0 0 18px;
	color: #ababab;
}
.incubaservice-main-services-sub {
	text-align: center;
}
.incubaservice-main-services-sub input {
	width: 235px;
	height: 51px;
	margin-top: 72px;
	background: #4b99e4;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	border: 0;
	cursor: pointer;
	cursor: hand;
}
.cooper {
	width: 960px;
	margin: 0 auto;
	padding-top: 37px;
}
.cooper-info {
	position: relative;
	width: 100%;
	height: 195px;
	background: #fff;
}
.cooper-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.cooper-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.cooper-info dl dt img {
	width: 102px;
	height: 102px;
}
.cooper-info dl dd h3 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.cooper-info dl dd var {
	display: block;
}
.cooper-info dl dd {
	float: left;
	margin-left: 20px;
}
.cooper-info dl dd input {
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 12px;
	outline: none;
}
.cooper-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.cooper-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.cooper-subnav {
	width: 100%;
	height: 60px;
	margin-top: 9px;
	border: 1px solid #ccc;
}
.cooper-subnav a {
	display: inline-block;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #fff;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.cooper-invest {
	width: 100%;
	margin-top: 50px;
}
.cooper-invest h3 {
	margin-left: 32px;
	color: #333;
	font-weight: bold;
}
.cooper-invest-con {
	margin-top: 18px;
	background: #fff;
	font-size: 14px;
}
.cooper-invest-con-top,.cooper-invest-con-bom {
	padding: 40px 0 50px 45px;
}
.cooper-invest-con-top p {
	color: #888;
}
.cooper-invest-con-top ul {
	margin: 0 0 0 45px;
	color: #333;
}
.cooper-invest-con-top ul li {
	float: left;
	width: 64px;
	height: 120px;
	margin: 15px 30px 0;
	text-align: center;
}
.cooper-invest-con-top li span {
	display: inline-block;
	margin-top: 6px;
	height: 26px;
	line-height: 26px;
}
.cooper-invest-con .cooper-invest-con-bom {
	border-top: 1px solid #eee;
}
.cooper-invest-con-bom p {
	float: left;
	color: #888;
}
.cooper-invest-con-bom ul {
	float: left;
	margin: -8px 0 0 38px;
	color: #555;
}
.cooper-invest-con-bom ul li {
	height: 30px;
	line-height: 30px;
}
.cooper-invest-con-bom span{
	padding: 0 15px;
}
.entre {
	width: 960px;
	margin: 0 auto;
	padding-top: 37px;
}
.entre-info {
	position: relative;
	width: 100%;
	height: 195px;
	background: #fff;
}
.entre-info dl {
	position: absolute;
	top: 40px;
	left: 34px;
}
.entre-info dl dt {
	float: left;
	width: 102px;
	height: 102px;
	background: #e9eaec;
}
.entre-info dl dt img {
	width: 102px;
	height: 102px;
}
.entre-info dl dd h3 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.entre-info dl dd var {
	display: block;
}
.entre-info dl dd {
	float: left;
	margin-left: 20px;
}
.entre-info dl dd input {
	width: 429px;
	height: 36px;
	margin-top: 14px;
	padding-left: 8px;
	border: 1px solid #ccc;
	font-size: 12px;
	outline: none;
}
.entre-info dl dd div {
	width: 750px;
	margin-top: 14px;
	color: #555;
	font-size: 14px;
}
.entre-info dl div span {
	display: inline-block;
	max-width: 90px;
	*max-width: 90px;
	height: 16px;
	margin-right: 36px;
	line-height: 16px;
	overflow: hidden;
}
.entre-subnav {
	width: 100%;
	height: 60px;
	margin-top: 9px;
	border: 1px solid #ccc;
}
.entre-subnav a {
	display: inline-block;
	width: 163px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #fff;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.entre-main-lt {
	float: left;
	width: 680px;
	margin-top: 64px;
	background: #fff;
	font-size: 14px;
}
.entre-main-lt-top,.entre-main-lt-bom {
	padding: 42px 0 48px 46px;
}
.entre-main-lt-top p,.entre-main-lt-bom p {
	float: left;
	color: #888;
}
.entre-main-lt-top ul,.entre-main-lt-bom ul {
	float: left;
	margin: -8px 0 0 38px;
}
.entre-main-lt-top ul li,.entre-main-lt-bom ul li {
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: #555;
	overflow: hidden;
}
.entre-main-lt .entre-main-lt-bom {
	border-top: 1px solid #eee;
}
.entre-main-rt {
	float: right;
	width: 260px;
}
.entre-main-progress,.entre-main-recruit {
	width: 100%;
	margin-top: 28px;
}
.entre-main-progress h3,.entre-main-recruit h3 {
	margin-left: 32px;
	font-weight: bold;
}
.entre-main-progress-con,.entre-main-recruit-con {
	margin-top: 18px;
	padding: 30px 18px 44px 20px;
	background: #fff;
}
.entre-main-progress-public {
	float: right;
	width: 80px;
	height: 35px;
	background: #eee;
	line-height: 35px;
	text-align: center;
}
.entre-main-progress-pro,.entre-main-progress-pro div {
	float: left;
	margin-top: 17px;
	width: 100%;
	height: 15px;
	background: #eee;
}
.entre-main-progress-pro div {
	margin: 0;
	width: 70%;
	background: #0fad73;
}
.entre-main-progress-con ul {
	float: left;
	width: 100%;
}
.entre-main-progress-con ul li {
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #eee;
	line-height: 58px;
}
.entre-main-progress-con li span {
	display: inline-block;
	width: 40%;
	height: 100%;
}
.entre-main-progress-con .entre-main-item-amount {
	width: 56%;
	text-align: right;
}
.entre-main-progress-con a,.entre-main-recruit-bom {
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top: 40px;
	background: #4b98e8;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
}
.entre-main-recruit .entre-main-recruit-con {
	padding: 20px 17px 48px 20px;
}
.entre-main-recruit-con dl dt {
	float: left;
	width: 66px;
	height: 66px;
}
.entre-main-recruit-con dl dd {
	float: left;
	margin-left: 10px;
	width: 147px;
}
.entre-main-recruit-con dl dd strong {
	display: inline-block;
	height: 32px;
	color: #333;
	font-weight: bold;
	line-height: 32px;
}
.entre-main-recruit-con dd p {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	overflow: hidden;
}
.entre-main-recruit-con div {
	margin-top: 5px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
}
.entre-main-recruit-con div strong {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-weight: bold;
	color: #555;
}
.entre-main-recruit-con div a {
	display: inline-block;
	margin-right: 30px;
	height: 24px;
	line-height: 24px;
	color: #555;
}
.entre-main-work-con span{
	padding: 0 15px;
}
