/* reset */
*{
	margin:0;
	padding:0;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
fieldset,legend{
	border:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
li{
	list-style:none;
}
/* reset end */

/* change-password.html */
.changepsw-wrap{
	background:#e9eaec;
}
.changepsw-body{
	width:960px;
	min-height:660px;
	margin:0 auto;
}
.changepsw-nav{
	float:left;
	width:190px;
	height:89px;
	background:#fff;
	overflow:hidden;
}
.changepsw-nav a{
	display:block;
	width:190px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-bottom:1px solid #eaeaea;
	color:#545454;
	font-size:14px;
	font-weight:bold;
}
.changepsw-nav .changepsw{
	background:#f4f4f4;
}
.changepsw-main{
	float:right;
	width:750px;
	height:510px;
	background:#fff;
}
.changepsw-main-head{
	height:88px;
	line-height:88px;
	text-align:center;
	border-bottom:1px solid #e6e6e6;
	color:#747474;
	font-size:24px;
}
.changepsw-main-con{
	padding-top:36px;
	padding-left:161px;
}
.changepsw-main-con legend{
	height:60px;
	line-height:60px;
}
.changepsw-main-con legend span{
	float:left;
	width:70px;
	height:60px;
	text-align:right;
	margin-right:18px;
	font-size:16px;
	color:#575757;
	overflow:hidden;
}
.changepsw-main-con legend i{
	float:left;
	width:300px;
	height:36px;
	margin-top:11px;
	border:1px solid #ccc;
	overflow:hidden;
}
.changepsw-main-con legend input{
	float:left;
	width:288px;
	padding-left:12px;
	font-size:14px;
	height:36px;
	border:none;
}
.changepsw-main-con .changepsw-lasti{
	width:115px;
}
.changepsw-main-con .changepsw-lasti input{
	width:103px;
}
.changepsw-main-con legend img{
	float:left;
	width:60px;
	height:36px;
	margin:12px 5px 0 20px;
}
.changepsw-main-con legend a{
	font-size:14px;
}
.changepsw-main-con legend em{
	color:#aaa;
	font-style:normal;
}
.changepsw-main-con .changepsw-save{
	width:300px;
	height:50px;
	margin-top:38px;
	margin-left:88px;
	background:#4b97e3;
	border:none;
	font-size:18px;
	color:#eefaff;
	text-align: center;
}
/* 修改密码结束 */

/* account-setup.html */
.account-content .changepsw-main-con .account-pic{
	padding-left:35px;
	padding-top:10px;
	height:66px;
}
.account-content .changepsw-main-con .account-pic span{
	float:left;
	width:35px;
	height:60px;
	line-height:60px;
	text-align:right;
	margin-right:20px;
	font-size:16px;
	color:#030303;
}
.account-content .changepsw-main-con .account-pic img{
	float:left;
	width:64px;
	height:64px;
	border:1px solid #cfcec9;
}
.input-file {
	float:left;
	width: 145px;
	height: 36px;
	line-height: 36px;
	margin:10px 0 0 28px;
	border: 1px solid #ccc;
	background: #fff url(../images/input-file.gif) 5px 7px no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #8c8a8a;
	text-indent: 38px;
	position: relative;
}
.input-file-btn {
	width: 145px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity: 0);
	font-size: 36px;
	cursor: pointer;
}
/* 发出的消息 */

/* 账户设置结束 */

/* select-role.html */
.role-wrap{
	min-height:800px;
}
.role-con{
	margin-top:5px;
}
.role-con ul{
	margin-bottom:89px;
}
.role-con h2,.findpsw-con h2,.reg-con h2{
	height:74px;
	line-height:74px;
	border-bottom:1px solid #f1f1f1;
	font-size:24px;
	text-align:center;
	color:#707070;
}
.role-con li{
	height:115px;
	border-bottom:1px solid #f5f5f5;
}
.role-con li div{
	width:450px;
	height:60px;
	line-height:60px;
	padding-top:25px;
	margin:0 auto;
}
.role-con li a{
	float:left;
	width:242px;
	height:60px;
	line-height:60px;
	text-align:center;
	border:none;
	background:#4988cb;
	color:#e6e2e3;
	font-size:18px;
}
.role-con li p{
	height:60px;
	overflow:hidden;
	padding-left:23px;
	text-align:left;
	font-size:14px;
	color:#484848;
}
.role-load{
	height:58px;
	line-height:58px;
	background:#f3f3f3;
	font-size:14px;
	color:#6e6c6d;
	display:none;
}
.role-load p{
	width:200px;
	height:58px;
	margin:0 auto;
	line-height:58px;
	text-align:center;
	overflow:hidden;
}
/* 设置角色结束 */

/* to-find-password.html */
.findpsw-con h2{
	margin-bottom:48px;
	color:#8f8f8f;
}
.findpsw-form{
	width:360px;
	margin:0 auto;
}
.findpsw-form legend{
	height:38px;
	line-height:38px;
}
.findpsw-form legend span{
	font-size:16px;
	margin-right:18px;
}
.findpsw-form legend .findpsw-input{
	width:288px;
	height:36px;
	padding-left:12px;
	font-size:14px;
}
.findpsw-form .findpsw-sunmit{
	width:302px;
	height:52px;
	margin:40px 0 20px 52px;
	border:none;
	background:#4a97e5;
	font-size:18px;
	color:#fff;
}
.findpsw-form p{
	margin-left:52px;
	font-size:12px;
	line-height:16px;
	color:#676767;
}
/* 找回密码结束 */
 
/* regist.html */
.reg-con h2{
	letter-spacing:4px;
	margin-bottom:36px;
}
.reg-form{
	width:385px;
	margin:0 auto;
}
.reg-form legend{
	height:60px;
	line-height:60px;
}
.reg-form legend span{
	float:left;
	width:64px;
	height:60px;
	text-align:right;
	margin-right:18px;
	font-size:16px;
	color:#040404;
	overflow:hidden;
}
.reg-form legend i{
	float:left;
	width:300px;
	height:36px;
	margin-top:11px;
	border:1px solid #ccc;
	overflow:hidden;
}
.reg-form .reg-input{
	float:left;
	width:288px;
	padding-left:12px;
	font-size:14px;
	height:36px;
	border:none;
}
.reg-form .reg-submit{
	width:300px;
	height:50px;
	margin-top:30px;
	margin-left:84px;
	background:#4b97e3;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:#d9e9ff;
}
.reg-form p{
	width:300px;
	height:20px;
	line-height:20px;
	margin:26px 0 0 84px;
	text-align:center;
	font-size:14px;
	color:#717171;
}
/* 注册结束 */

/* received-news.html */
.news-wrap{
	background:#e9eaec;
	min-height:865px;
}
.news-con{
	width:960px;
	margin:0 auto;
}
.news-con-head{
	width:959px;
	height:60px;
	line-height:60px;
	margin-bottom:35px;
	background:#fef9f3;
	font-size:18px;
	overflow:hidden;
}
.news-con-head-main div{
	width:960px;
}
.news-con-head-main li{
	float:left;
	width:191px;
	height:60px;
	border-right:1px solid #ebe7dc;
	text-align:center;
}
.news-con-head-main li a{
	color:#353130;
}
.news-con-body-nav{
	float:left;
	width:190px;
	height:89px;
	background:#fff;
	overflow:hidden;
}
.news-con-body-nav a{
	display:block;
	width:190px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-bottom:1px solid #eaeaea;
	color:#545454;
	font-size:14px;
	font-weight:bold;
}
.news-con-body-nav .news-nav{
	background:#f4f4f4;
}
.news-con-body-main{
	float:right;
	width:750px;
	padding-top:12px;
	background:#fff;
	min-height:658px;
}
.news-con-body-main h2{
	width:706px;
	height:28px;
	line-height:28px;
	padding-left:9px;
	margin:0 auto;
	font-size:14px;
	border-bottom:1px solid #e6e6e6;
}
.news-con-body-main dl{
	height:77px;
	padding:23px 0 0 33px;
	border-bottom:1px solid #f5f4f2;
}
.news-con-body-main dt{
	float:left;
	width:58px;
	height:58px;
	margin-right:15px;
	overflow:hidden;
}
.news-con-body-main dt img{
	width:56px;
	height:56px;
	border:1px solid #cbcbcd;
}
.news-con-body-main dd h3{
	height:16px;
	line-height:16px;
	margin-bottom:14px;
}
.news-con-body-main dd h3 strong{
	float:left;
	width:90px;
	height:16px;
	font-size:14px;
	overflow:hidden;
}
.news-con-body-main dd span{
	float:right;
	margin-right:38px;
	padding-right:32px;
	width:110px;
	height:16px;
	line-height:16px;
	color:#acaba7;
	font-size:12px;
	position:relative;
}
.news-con-body-main dd span em{
	margin-right:12px;
}
.news-con-body-main dd span b{
	position:absolute;
	width:11px;
	height:6px;
	background:url(../images/news-select.jpg) 0 0 no-repeat;
	right:0;
	top:5px;
	cursor:hand;
	cursor:pointer;
}
.news-con-body-main dd span b:hover{
	background:url(../images/news-select.jpg) 0 -6px no-repeat;
}
.news-con-body-main b i{
	position:absolute;
	top:8px;
	left:-88px;
	width:105px;
	height:73px;
	border:1px solid #ededed;
	background:#f6f6f6;
	overflow:hidden;
	display:none;
}
.news-con-body-main .disblock{
	display:block;
}
.news-con-body-main b i a{
	display:block;
	width:79px;
	height:36px;
	line-height:36px;
	padding-left:26px;
	text-align:left;
	color:#8b8b8b;
	font-size:14px;
	border-bottom:1px solid #ededed;
}
.news-con-body-main dd p{
	height:16px;
	line-height:16px;
	font-size:14px;
}
.news-con-body-main div{
	width:430px;
	margin:57px auto 0;
	height:24px;
	line-height:24px;
	font-size:12px;
}
.news-con-body-main div span{
	float:left;
	width:38px;
	color:#878787；
}
.news-con-body-main div i{
	float:left;
	width:52px;
	height:22px;
	margin-right:12px;
	text-align:center;
	border:1px solid #f2f2f2;
	color:#575757;
}
.news-con-body-main div .news-unclick{
	color:#d2d2d2;
}
.news-con-body-main div a{
	float:left;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#333;
	margin-right:14px;
	border:1px solid #f2f2f2;
}
.news-con-body-main .news-now{
	border-color:#f7be53;
	color:#ce8c1c;
}
.news-con-body-main div b{
	float:left;
	width:16px;
	height:24px;
	line-height:24px;
	margin:0 7px 0 -5px;
	color:#8b8b8b;
	letter-spacing:3px;
}