/*CSS reset*/
html{color:#000;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#; outline:none;}
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup,i,b{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

.clearfix{display:block;zoom:1;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
body{background-color: #e9eaec;position: relative;}

.input-file {
	width: 145px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ccc;
	background: #fff url(../images/input-file.gif) 5px 7px no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #8c8a8a;
	text-indent: 38px;
	position: relative;
}
.input-file-btn {
	width: 145px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity: 0);
	font-size: 36px;
	cursor: pointer;
}
.select select{
	border: none;
	outline: none;
	background: transparent url(../images/select.jpg) right center no-repeat;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	margin: -2px -21px 0 -2px;
	*margin-right: 0px;
	*background: none;
}
.selectInner{
	height: 20px;
	overflow: hidden;
	
}
.select{

	/*display: inline-block;*/
	float: left;
	/*margin: 50px;*/
	border: 1px solid #ccc;
	padding: 8px 21px 8px 16px;
	background: white;
	*padding-right: 0;
}