body{
	background:#e9eaec;
	font-family:"宋体";
}
.header{
	height:64px;
	background:red;
}
.con{
	width:960px;
	margin:0 auto;
}
.logn{
	height:252px;
	width:960px;
	background:url(images/zhangchaolog.jpg);
}
.minu-header{
	background:#f2f2f2;
	overflow: hidden;
	border-top:2px solid #ebebec;
	border-bottom:2px solid #ebebec;
	padding-left: 60px;;
}
.minu-header h2{
	line-height:50px;
	float:left;
	margin-right:182px;
	font-size:14px;
	color:#787878;
	font-weight:bold;
}
.minu-header h2 span{
	display:inline-block;
	height:15px;
	width:14px;
	background:url(images/zhangchao1.jpg);
}
.minu-headerin {
	width:1800px;
}
.minu li{
	height:48px;
	width:900px;
	overflow: hidden;
	padding:21px 0 21px 60px;
	border-bottom:2px solid #f9f8f7;
}
.minu .minu-in{
	width:1200px;
} 
.minu li img,.minu li dt{
	height:48px;
	width:48px;
}       
.minu li dt{
	margin-right:21px;
	float:left;
}
.minu dd{
	float:left;
	width:130px;
}
.minu dd p{
	line-height:28px;
	font-size:14px;
	color:#b3b3b3;
}
.minu dd var{
	font-size:12px;
	color:#aaabac;
}
.minu dl{
	float:left;
	margin-right:12px;
}
 .industry,.territory,.scale{
	float:left;
	width:146px;
	line-height:48px;
	text-align:center;
	margin-right:97px;
	color:#c6c4c1;
}
.minu-top,.minu-btm{
	background:#fff;
}
.minu-middle{
		background:#fffcf7;
}
.minu  .ite{
	padding-left: 60px;

}
.minu-middle li{
	border:none;
}
.minu-middle{
	border-bottom: 2px solid #f9f8f7;
}
.minu-middle dt,.minu-middle img{
	height: 64px;
	width:64px;
}
.minu-middle .ite dd{
	width:64px;
	line-height:32px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#615f5e;

}
.minu .ite dl{
	width:64px;
	margin:10px 84px 30px 0;
}
.more{
	line-height:114px;
	width:960px;
	margin:0 auto 100px;
	text-align:center;
	color:#c2c2c3;
	font-weight:bold;
}
.footer{
	height:50px;
	background:red;
}
