body{
	background:#e9eaec;
	font-family:"宋体";
}
.pubpro-con{
	width:962px;
	margin:0 auto;
} 
.pubpro-item{
	height:102px;
	padding:45px 0 53px  34px;
	background:rgb(255,255,255);
}
.pubpro-item dt{
	float:left;
	width:102px;
	height:102px;
	background:rgb(233,234,236);
}
.pubpro-item img{
	width:102px;
	height:102px;
}
.pubpro-item dl{
	height:102px;
}
.pubpro-item dd{
	width:808px;
	float:right;
}
.pubpro-item dd h3{
	height:18px;
	line-height: 16px;
	font-size:18px;
	font-family:"微软雅黑";
	color:#5b5c5c;
}
.pubpro-item dd input{
	height:34px;
	width:439px;
	margin:14px 0;
	border:2px solid #eeeeee;
}
.pubpro-item ul{
	height:18px;
}
.pubpro-item li{
	float:left;
	height:18px;
	margin-right:27px;
	line-height:18px;
	font-size:18px;
	color:#b3b3b3;
}
.pubpro-item-new{
	height:60px;
	margin-top:10px;
	border:2px solid #e8e8e8;
}
.pubpro-item-new h3{
	height:60px;
	width:160px;
	padding-left:44px;
	color:#5b5c5c;
	border-right:2px solid #e4e4e4;
	line-height:60px;
	font-size:16px;
	font-family:"微软雅黑";
	background:rgb(255,255,255);
}
.pubpro-item-fing{
	height: 835px;
}
.pubpro-product{
	float:left;
	width:680px;
}
.pubpro-data{
	margin-top:8px;
	padding-left:33px;
	line-height:60px;
	font-family:"宋体";
	font-size:16px;
	color:#474748;
	font-weight: bold;
}
.pubpro-pro-img{
	width:433px;
	height:287px;
	margin:0 auto;
}
.pubpro-pro-img{
	width:433px;
	height:287px;
}
.pubpro-wrap{
	padding:40px 75px;
	background:rgb(255,255,255);
}
.pubpro-pro-more{
	height:64px;
	width:600px;
}
.pubpro-wrap-img{
	width:434px;
	margin:0 auto;
}
.pubpro-pro-more-out{
	width:434px;
	overflow:hidden;
	margin:30px 34px;
}
.pubpro-pro-more img{
	float:left;
	width:100px;
	height:65px;
	margin-right:30px;
}
.pubpro-itm-con{
	padding-top:5px;
}
.pubpro-itm-con p{
	line-height:25px;
	margin-bottom:25px;
	font-size:14px;
	text-indent: 2em;
	color:#606060;
}
.pubpro-fing{
	float:right;
	width:262px;
}
.pubpro-financing{
	padding:32px 18px 0 18px;
	margin-bottom:18px;
	background:rgb(255,255,255);
}
.pubpro-financing .pubpro-public div{
	float:right;
	width:84px;
	height:36px;
	line-height: 36px;
	text-align:center;
	font-size:14px;
	color:#9aa2a8;
	font-weight:bold;
	
	background:rgb(238,238,238);
}
.pubpro-schedule{
	margin:16px 0 7px 0;
	background:rgb(238,238,238);
}
.pubpro-schedule div{
	height:15px;
	width:153px;
	background:rgb(18,173,117)
}

.pubpro-financing li{ 
	height:50px;
	line-height:50px;
	border-bottom:2px solid rgb(238,238,238);font-size:14px;
}
.pubpro-financing li span{
	float:left; 
	color:#a1a1a1;


}
.pubpro-financing li strong{
	float:right; 
	color:#717171;
	font-weight:bold;

}
.pubpro-financing ul{
	margin-bottom:43px;
}
.pubpro-fing a{
	display:inline-block;
	line-height:50px;
	width:100%;
	margin-bottom:43px;
	border:none;
	border:0;
	color:rgb(255,255,255);
	background:rgb(75,153,228);
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.pubpro-fing a:hover{
	cursor:pointer;
}
.pubpro-fina-bot{
	padding:10px 18px 0 18px;
	background:rgb(255,255,255);
}
.pubpro-fina-bot dt{
	height:50px;
	line-height:50px;
	color:#8e8e8e;
	font-size:16px;
	font-weight:bold;
	
}
.pubpro-fina-bot dd{
	float:left;
	height:26px;
	margin-right:32px;
	color:#a1a1a1;
	font-size:16px;
}
.pubpro-fina-bot dl{
	height:122px;
	font-family:"宋体";
}
.pubpro-fina-bot .pubpro-header{
	border-bottom:2px solid rgb(238,238,238);
}
.pubpro-fin-news,.pubpro-team,.pubpro-chart{
	width:616px;
	padding:32px 32px 0 32px;
	background:#ffffff;
}
.pubpro-fin-top p{
	height:18px;
	margin-bottom:23px; 
	font-size:16px;
	font-weight:bold;
	color:#686868;
}
.pubpro-din-mid{
	width:598px;
	overflow: hidden;	
	margin-left:5px;
	border-bottom:2px solid #f9f9f9;
	margin-bottom: 10px;
}
.pubpro-fin-top ul{
	float:left;
	width:154px;
	padding:10px;
	margin-right:42px;
	background:#ffedc9;
	margin-bottom:30px;
}
.pubpro-fin-top li{
	text-align:center;
	height:24px;
	line-height:24px;
	font-size:14px;
	color:#a19989;
}
.pubpro-fin-top li span{
	 color:#464440;
	 font-weight:bold;
}
.pubpro-din-mid div{
	width:650px;
}
.pubpro-in-pb dt img{
	height:103px;
	width:103px;
}
.pubpro-in-pb dl{
	height:103px;
	width:276px;
	margin:0 62px 47px 0 ;
	float:left;
}
.pubpro-in-pb dt{
	float:left;
	height:103px;
	width:103px;
	
}
.pubpro-in-pb dd{
	width:154px;
	float :right;
	font-size:14px;
}
.pubpro-in-pbtop p,.pubpro-ori-info-top p{
	height:14px;
	line-height:14px;
	font-size:14px;
	color:#606060;
	font-weight: bold;
	
}
.pubpro-in-pbtop p{
	margin-bottom: 7px;
}
.pubpro-ori-info-top p{
	margin-bottom: 2px;
}
.pubpro-in-pbtop var,.pubpro-ori-info-top var{
	display:inline-block;
	line-height:12px;
	font-size:12px;
	color:#8e8e8e;
	margin-bottom: 3px;
	font-weight: bold;
}
.pubpro-in-pbbtm p,.pubpro-ori-info-btm p{
	font-size:12px;
	line-height:22px;
	color:#cacaca;
}
.pubpro-in-pb{
	width:617px;
	overflow:hidden;
}
.pubpro-in-pb div{
	width:750px;
	overflow:hidden;
}
.pubpro-investor{
	border-bottom:2px solid #f9f9f9;;
}
.pubpro-in-mg{
	margin-top:47px;
}
.pubpro-ori-info-top{
	margin:15px 0 5px 0;
}
.pubpro-ori-info dt img{
	height:73px;
	width:73px;
}
.pubpro-ori-info dt{
	height:73px;
	width:73px;
}
.pubpro-ori-info dl{
	float:left;
	width:126px;
	margin:0 120px 28px 0;

}
.pubpro-ori-info{
	overflow: hidden;
	width:618px;
	*padding-bottom: 27px;
}
.pubpro-originator{
	border-bottom:2px solid #f9f9f9;
	margin-bottom: 32px ; 
}
.pubpro-orig-name{
	font-size:16px;
	line-height:17px;
	color:#8e8e8e;
	font-weight:bold;
	margin-bottom: 16px ; 
}
.pubpro-ori-info div{
	overflow:hidden;
	width:1500px;
}
 .pubpro-chart span{
 	font-size:16px;
 	color:#7b7b7b;	
 	font-weight:bold;
 }
 .pubpro-chart var{
 	display:inline-block;
 	margin-left: 23px;
 	font-size:12px;
 	color:#606060;
 }
 .pubpro-chart p{
 	line-height:16px;
 	margin-bottom:16px; 
 }
 .chart-imag{
 	width:433px;
 }
 .pubpro-chart .pubpro-chat-btm{
 	margin-bottom: 3px;
 }
 .pubpro-chart-botm div{
 	width:50px;
 	float:left;
 	margin-top: 5px;
 	font-size: 16px;
	color: #7b7b7b;
	font-weight: bold;
 }
 .pubpro-chart .pubpro-chart-botm p{
 	width:556px;
 	float:right;
 	text-indent:2em;
 	font-size: 12px;
	color: #8e8e8e;
	line-height:28px;
 }
 .pubpro-chart-botm{
 	padding-bottom:50px;
 }
 .pubpro-intor{
 	line-height:76px;
 	margin-bottom:10px;
 	font-size:16px;
 	padding-left:5px;
 	color:#8e8e8e;
 	font-weight:bold;

 }

 .proinve-wrap{
	background:#e9eaec;
	font-family:"宋体";
}
.proinve-con{
	width:960px;
	margin:0 auto;
}
.proinve-logn{
	height:252px;
	width:960px;
	background:url(../images/zhangchaolog.jpg);
}
.proinve-minu-header{
	background:#f2f2f2;
	overflow: hidden;
	border-top:2px solid #ebebec;
	border-bottom:2px solid #ebebec;
	padding-left: 60px;;
}
.minu-headerin{
	width: 1800px;
} 
.minu-headerin h2{
	line-height: 50px;
	float: left;
	margin-right: 182px;
	font-size: 14px;
	color: #787878;
	font-weight: bold;
}
.proinve-contop dt,.proinve-contop dt img{
	height: 48px;
	width: 48px;
}
.proinve-contop dl{
	float: left;
	margin-right: 12px;
}
.proinve-con li{
	padding: 21px 0 0 60px;
	background:#fff;
}
.proinve-contop dt,.proinve-contop dd{
	float:left;
}
.proinve-contop dd{
	width:130px;
}
.proinve-contop dt{
	margin-right: 21px;
}
.proinve-contop dd p{
	line-height: 28px;
	font-size: 14px;
	color: #b3b3b3;
}
.proinve-contop dd var{
	font-size: 12px;
	color: #aaabac;
}
.proinve-contop dl,.proinve-ite dl{
	float:left;
}
.pro-intry{
	float: left;
	width: 146px;
	line-height: 48px;
	text-align: center;
	margin-right: 97px;
	color: #c6c4c1;
}
.proinve-contop{
	width:1200px;
	margin-bottom: 22px;
}
.proinve-con li{
	overflow: hidden;
	border-bottom: 2px solid #f9f8f7;
}

.proinve-ite dt,proinve-ite dt{
	height:64px;
	width:64px;
}
.proinve-ite dl{
	width: 64px;
	margin: 0 84px 30px 0;
}
.proinve-ite dd{
	width: 64px;
line-height: 32px;
font-size: 12px;
font-weight: bold;
text-align: center;
color: #615f5e;
}
.show{
	display:none;
}
.proinve-con li:hover .proinve-ite {
	display:block;

}
.proinve-con li:hover {
	background: #fffcf7;
	cursor:pointer;
}
.proinve-more{
	line-height: 90px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
	color: #c2c2c3;
	font-weight: bold;
}
.proinve-more a{
	display:inline-block;
	line-height:115px;
	width:60px;
	margin-bottom:100px;
}

.proinve-more a:hover{
	cursor:pointer;
}
